@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Merriweather", serif;
}

main section{
    margin-bottom: 120px;
}

/* Shared Styles */

.primary-color{
    color: red;
}

/* Banner Styles start */
.banner-container{
    max-width: 1320px;
    height: 600px;
    margin:0 auto;
    margin-top: 50px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url("../images/Banner-Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    /* background-blend-mode: overlay; */
}

.banner-content p{ 
font-size: 28px;
font-weight: 400;
padding-bottom: 16px;
color: white;
}
.banner-content h1{
    text-align: center;
    width: 632px;
font-size: 62px;
font-weight: 700;
color: white;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

/* 65% offer section styles start*/


.offer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
}

.offer-container h1{
    color: rgb(255, 0, 0);
font-size: 58px;
font-weight: 800;
padding-bottom: 40px;
font-family: Inter;
}

.offer-container p{
    color: rgb(255, 0, 0);
font-size: 18px;
font-weight: 600;
padding-bottom: 16px;
font-family: Inter;
}

.offer-container h3{
    color: rgb(7, 2, 17);
    
font-family: Inter;
font-size: 32px;
font-weight: 700;
padding-bottom: 50px;
}

.offer-container img{
    max-width: 650px;
    max-height: 500px;
}

/* 65% offer section styles ends */


/* Welcome Section Styles Start */



.welcome-container{
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url("../images/Vectorrr.png");
    width: 1320px;
height: 600px;
display: flex;
justify-content: center;
align-items: center;
height: 600px;
border-radius: 10px;
margin: 0 auto;
padding: 126px;
}

.welcome-container h1{
    color: rgb(255, 255, 255);
    font-family: "Merriweather", serif;
    font-size: 54px;
    font-weight: 700;
}

.welcome-container p{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
padding-top: 24px;
padding-bottom: 48px;

}
.welcome-container img{
max-width: 349.16px;
max-height: 464.65px;
}

.welcome-content{
    display: flex;
    flex-direction: column;
}

.welcome-btn{
    background-color: transparent;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
cursor: pointer;
border: none;
}


/* Welcome Section Styles Start */



.event-details-container{
    background-image:linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.event-details-container p{
    font-family: Inter;
font-size: 28px;
font-weight: 600;
line-height: 56px;
}

/* Welcome Section Styles ends */

/* coming soon section starts here */


.coming-soon-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1320px;
height: 463px;
margin: 0 auto;
}

.coming-soon-content>img{
    width: 350px;
    height: 350px;
}

.coming-soon-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.coming-soon-heading{
    font-family: Inter;
font-size: 38px;
font-weight: 700;
}


.coming-soon-content p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
}

.coming-soon-content{
    width: 393px;
height: 255px;
}


.ring{
    position: absolute;
    width: 410px;
    height: 410px;
    box-sizing: border-box;
    border: 10px solid rgb(255, 0, 0);
    border-radius: 50%;
    margin: -32px -25px;
}

/* coming soon section ends here */


/* holidays sale styles start */
.holidays-sale-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1058px;
height: 260px;
margin: 0 auto;
text-align: center;
}

.holidays-sale-content h5{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 18px;
font-weight: 500;
padding-bottom: 16px;
}

.holidays-sale-content h1{
    font-family: Merriweather;
font-size: 52px;
font-weight: 900;
padding-bottom: 22px;
}

.holidays-sale-content p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
width: 890px;
height: 96px;

}

/* holidays sale styles ends */